button.facebook {
	background-color: #3b5998;
	color: #fff;
	text-transform: uppercase;
}

button.twitter {
	background-color: #55acee;
	color: #fff;
	text-transform: uppercase;
}

.form-control {
	/*width: 200px;*/
}

#komentar {	
	height: 100px;
}

footer {
  margin-top: 25px;
}
