@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

.headline-title {
	font-family: 'Montserrat', sans-serif;
}

.headline-date {
	color: #90A4AE;
	font-weight: lighter;
}

.facebook {
	background-color: #3b5998;
	color: #fff;
	text-transform: none;
	width: 295px;
}

.twitter {
	margin-top: 5px;
	background-color: #55acee;
	color: #fff;
	text-transform: none;
	width: 295px;
}

.badge {
	font-size: 11px;
	color: white;
	font-weight: bold;
	letter-spacing: 0;
	padding: 2px 8px;
	background-color: #e74c3c;
	height: 25px;
	width: 100px;
	font-size: 0.95em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.videos {
	margin-top: 30px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.ajr {
	margin-bottom: 15px;
	margin-top: 15px;
}

.artis-desc {
	color: #90A4AE;
}

.artis-image {
	margin-left: 6px;
}

.artis-image-post {
	margin-bottom: 10px;
}

.artis-post {
	margin-bottom: 15px;
}

.image-caption {
	color: #90A4AE;
	font-size: 25px;
	font-style: italic;
}

#komentar {
	height: 100px;
}

footer {
  margin-top: 25px;
}
