.facebook {
	background-color: #3b5998;
	color: #fff;
	text-transform: uppercase;
}

.twitter {
	background-color: #55acee;
	color: #fff;
	text-transform: uppercase;
}

.videos {
	margin-top: 30px;
}

#komentar {
	height: 100px;
}

footer {
  margin-top: 25px;
}
